{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- Basic -->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Metas -->
    <title>Dayya</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Site Icons -->
    <link
      rel="shortcut icon"
      href="{% static 'shop/images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'shop/images/apple-touch-icon.png' %}"
    />

    <link rel="stylesheet" href="{% static 'shop/icons/css/all.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/custom.css' %}" />

    <!--JavaScript-->
    <script src="{% static 'shop/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'shop/js/popper.min.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'shop/js/main.js' %}"></script>
  </head>

  <body>
    <!-- Login Section -->
    <div
      class="dayya__login position-fixed z-10 w-100 min-h-screen-full d-none bg-black-70"
    >
      <div class="dayya__login__close-btn text-right">
        <i class="fas fa-times m-3 c-pointer text-white"></i>
      </div>
      <form
        method="POST"
        action="{% url 'shop:login' %}"
        class="mt-3 review-form-box"
        id="formRegister"
      >
        {% csrf_token %}
        <div>
          <div class="form-group col-md-6 mx-auto">
            <label for="InputEmail1" class="mb-0 text-white"
              >Username / Email</label
            >
            <input
              type="text"
              name="username"
              class="form-control"
              id="InputEmail1"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group col-md-6 mx-auto">
            <label for="InputPassword1" class="mb-0 text-white">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="InputPassword1"
              placeholder="Password"
            />
          </div>
        </div>
        <div class="form-group col-md-6 mx-auto">
          <button type="submit" class="btn hvr-hover">Log In</button>
        </div>
      </form>
    </div>

    <!-- Registration Section -->
    <div
      class="dayya__register position-fixed z-10 w-100 min-h-screen-full d-none bg-black-70"
    >
      <div class="dayya__register__close-btn text-right">
        <i class="fas fa-times m-3 c-pointer text-white"></i>
      </div>
      <form
        method="POST"
        action="{% url 'shop:register' %}"
        class="mt-3 review-form-box"
        id="formRegister"
      >
        {% csrf_token %}
        <div>
          <div class="form-group col-md-6 mx-auto">
            <label for="InputName" class="mb-0 text-white">Username</label>
            <input
              name="username"
              type="text"
              class="form-control"
              id="InputName"
              placeholder="First Name"
            />
          </div>
          <div class="form-group col-md-6 mx-auto">
            <label for="InputName" class="mb-0 text-white">First Name</label>
            <input
              name="first_name"
              type="text"
              class="form-control"
              id="InputName"
              placeholder="First Name"
            />
          </div>
          <div class="form-group col-md-6 mx-auto">
            <label for="InputLastname" class="mb-0 text-white">Last Name</label>
            <input
              name="last_name"
              type="text"
              class="form-control"
              id="InputLastname"
              placeholder="Last Name"
            />
          </div>
          <div class="form-group col-md-6 mx-auto">
            <label for="InputEmail1" class="mb-0 text-white"
              >Email Address</label
            >
            <input
              name="email"
              type="email"
              class="form-control"
              id="InputEmail1"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group col-md-6 mx-auto">
            <label for="InputPassword1" class="mb-0 text-white">Password</label>
            <input
              name="password"
              type="password"
              class="form-control"
              id="InputPassword1"
              placeholder="Password"
            />
          </div>
        </div>
        <div class="form-group col-md-6 mx-auto">
          <button type="submit" class="btn hvr-hover">Register</button>
        </div>
      </form>
    </div>

    <!-- Start Main Top -->
    <div class="main-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="custom-select-box">
              <select
                id="basic"
                class="selectpicker show-tick form-control"
                data-placeholder="$ USD"
              >
                <option>Rs LKR</option>
                <option>$ USD</option>
                <option>€ EUR</option>
              </select>
            </div>
            <div class="right-phone-box">
              <p>Call US :- <a href="#"> 076-7261992</a></p>
            </div>
            <!--<div class="our-link">
                        <ul>
                            <li><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>
                            <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li> 
                            <li><a href="#"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div>-->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% if user is None %}
            <div class="login-box">
              <a href="#" class="dayya__login__open-btn side-menu p-2">
                <i class="fas fa-user text-white"></i>
              </a>
              <a
                href="{% url 'shop:cart' %}"
                class="dayya__header__cart position-relative p-2"
              >
                <i class="fa fa-shopping-cart fa-1x text-white"></i>
                <span class="badge text-white">{{ user_products|length }}</span>
              </a>
            </div>
            {% else %}
            <div class="login-box">
              <a
                href="{% url 'shop:my-account' %}"
                class="side-menu dayya__header__logout p-2"
              >
                <i class="fas fa-user text-white"></i>
              </a>
              <a
                href="{% url 'shop:cart' %}"
                class="dayya__header__cart position-relative p-2"
              >
                <i class="fa fa-shopping-cart fa-1x text-white"></i>
                <span class="badge text-white">{{ user_products|length }}</span>
              </a>
              <a
                href="{% url 'shop:logout' %}"
                class="side-menu dayya__header__logout p-2"
              >
                <i class="fa fa-sign-out-alt text-white"></i>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top 
    <header class="main-header">
       Start Navigation 
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav"
      >
        <div class="container">
           Start Header Navigation 
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-menu"
              aria-controls="navbars-rs-food"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html"
              ><img
                src="{% static 'shop/images/Dayya/logoresize.png' %}"
                class="logo"
                alt=""
            /></a>
          </div>
           End Header Navigation 

           Collect the nav links, forms, and other content for toggling 
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul
              class="nav navbar-nav ml-auto"
              data-in="fadeInDown"
              data-out="fadeOutUp"
            >
              <li class="nav-item {% if page == 'index' %} active {% endif %}">
                <a class="nav-link" href="{% url 'shop:index' %}">Home</a>
              </li>
              <li class="nav-item {% if page == 'shop' %} active {% endif %}">
                <a class="nav-link" href="{% url 'shop:shop' %}">Shop</a>
              </li>
              <li
                class="nav-item {% if page == 'wishlist' %} active {% endif %}"
              >
                <a class="nav-link" href="{% url 'shop:wishlist' %}"
                  >Wishlist</a
                >
              </li>
              <li class="nav-item {% if page == 'cart' %} active {% endif %}">
                <a class="nav-link" href="{% url 'shop:cart' %}">Cart</a>
              </li>
              <li
                class="nav-item {% if page == 'checkout' %} active {% endif %}"
              >
                <a class="nav-link" href="{% url 'shop:checkout' %}"
                  >Checkout</a
                >
              </li>
              <li
                class="nav-item {% if page == 'my-account' %} active {% endif %}"
              >
                <a class="nav-link" href="{% url 'shop:my-account' %}"
                  >My Account</a
                >
              </li>
            </ul>
          </div>
           /.navbar-collapse 

           Start Atribute Navigation  
          <div class="attr-nav">
            <ul>
              <li class="search">
                <a href="#"><i class="fa fa-search"></i></a>
              </li>
              <li class="side-menu">
                <a href="#">
                  <i class="fab fa-opancart"></i>
                  <span class="badge">{{ user_products|length }}</span>
                  <p>My Cart</p>
                </a>
              </li>
            </ul>
          </div>
           End Atribute Navigation  
        </div>
        Start Side Menu
        <div class="side">
          <a href="#" class="close-side"><i class="fa fa-times"></i></a>
          <li class="cart-box">
            <ul class="cart-list">
              {% for user_product in user_products %}
              <li>
                <img
                  src="{{ user_product.product.image }}"
                  class="cart-thumb"
                  alt=""
                />
                <h6><a href="#">{{ user_product.product.name }} </a></h6>
                <p>
                  {{user_product.amount}}x -
                  <span class="price"
                    >Rs.{{user_product.product.unit_price}}</span
                  >
                </p>
              </li>
              {% endfor %}
              <li class="total">
                <a
                  href="{% url 'shop:cart' %}"
                  class="btn btn-default hvr-hover btn-cart"
                  >VIEW CART</a
                >
              </li>
            </ul>
          </li>
        </div>
         End Side Menu 
      </nav>
       End Navigation 
    </header>
     End Main Top -->

    {% block body %} {% endblock %}

    <!-- Start Footer  -->
    <footer>
      <div class="footer-main">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-top-box">
                <h3>Business Time</h3>
                <ul class="list-time">
                  <li>Monday - Friday: 08.00am to 05.00pm</li>
                  <li>Saturday: 10.00am to 08.00pm</li>
                  <li>Sunday: <span>Closed</span></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-top-box">
                <h3>Newsletter</h3>
                <form class="newsletter-box">
                  <div class="form-group">
                    <input
                      class=""
                      type="email"
                      name="Email"
                      placeholder="Email Address*"
                    />
                    <i class="fa fa-envelope"></i>
                  </div>
                  <button class="btn hvr-hover" type="submit">Submit</button>
                </form>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-top-box">
                <h3>Social Media</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fab fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fab fa-whatsapp" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-widget">
                <h4>About Freshshop</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-link">
                <h4>Information</h4>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Customer Service</a></li>
                  <!--<li><a href="#">Our Sitemap</a></li>-->
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Delivery Information</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-link-contact">
                <h4>Contact Us</h4>
                <ul>
                  <li>
                    <p>
                      <i class="fas fa-map-marker-alt"></i>Address: Michael I.
                      Days 3756 <br />Preston Street Wichita,<br />
                      KS 67213
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-phone-square"></i>Phone:
                      <a href="tel:+1-888705770">+1-888 705 770</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-envelope"></i>Email:
                      <a href="mailto:contactinfo@gmail.com"
                        >contactinfo@gmail.com</a
                      >
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
      <p class="footer-company">
        All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
        <a href="https://html.design/">html design</a>
      </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none"
      >&uarr;</a
    >

    <!-- CUSTOM JS SCRIPTS -->
    {% if user is None %}
    <script>
      var login_close_btn = document.querySelector(".dayya__login__close-btn");
      var reg_close_btn = document.querySelector(".dayya__register__close-btn");
      var login_open_btn = document.querySelector(".dayya__login__open-btn");
      
      login_open_btn.addEventListener("click", function () {
        document.querySelector(".dayya__login").classList.remove("d-none");
        document.querySelector(".dayya__login").classList.add("d-block");
      });
      login_close_btn.addEventListener("click", function () {
        document.querySelector(".dayya__login").classList.add("d-none");
        document.querySelector(".dayya__login").classList.remove("d-block");
      });
      reg_close_btn.addEventListener("click", function () {
        document.querySelector(".dayya__register").classList.add("d-none");
        document.querySelector(".dayya__register").classList.remove("d-block");
      });
    </script>
    {% endif %}
    {% block scripts %}{% endblock %}

    <!-- ALL JS FILES -->
    <script src="{% static 'shop/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'shop/js/popper.min.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap.min.js' %}"></script>

    <!-- ALL PLUGINS -->
    <script src="{% static 'shop/js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'shop/js/inewsticker.js' %}"></script>
    <script src="{% static 'shop/js/bootsnav.js' %}."></script>
    <script src="{% static 'shop/js/images-loded.min.js' %}"></script>
    <script src="{% static 'shop/js/isotope.min.js' %}"></script>
    <script src="{% static 'shop/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'shop/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'shop/js/form-validator.min.js' %}"></script>
    <script src="{% static 'shop/js/contact-form-script.js' %}"></script>
    <script src="{% static 'shop/js/custom.js' %}"></script>
  </body>
</html>
