{% extends "./base.html" %}{% load static %} {% block body %}
<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Cart</h2>
      </div>
    </div>
  </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
  <div class="container">
    <form action="{% url 'shop:update-cart' %}" method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col-lg-12">
          <div class="table-main table-responsive">
            {% if user_products|length > 0 %}
            <table class="table">
              <thead>
                <tr>
                  <th>Images</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for ordered_product in user_products %}
                <tr>
                  <td class="thumbnail-img">
                    <a href="#">
                      <img
                        class="img-fluid"
                        src="{{ ordered_product.image }}"
                        alt=""
                      />
                    </a>
                  </td>
                  <td class="name-pr">
                    <input
                      type="hidden"
                      name="product__id"
                      value="{{ ordered_product.id }}"
                    />
                    <a href="#"> {{ ordered_product.name }} </a>
                  </td>
                  <td class="price-pr">
                    <p>
                      Rs.<span class="product__unit-price"
                        >{{ ordered_product.unit_price }}</span
                      >
                    </p>
                  </td>
                  <td class="quantity-box">
                    <input
                      type="number"
                      name="product_{{ ordered_product.id }}__quantity"
                      size="4"
                      value="{{ ordered_product.amount }}"
                      min="0"
                      step="1"
                      class="c-input-text qty text"
                    />
                  </td>
                  <td class="total-pr">
                    <p>
                      <span class="product__total-price"
                        >{{ ordered_product.total|floatformat:2 }}</span
                      >
                    </p>
                  </td>
                  <td class="remove-pr">
                    <a
                      href="{% url 'shop:delete-from-cart' ordered_product.id %}"
                    >
                      <i class="fas fa-times"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-lg-6 col-sm-6">
          <!-- <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button">Apply Coupon</button>
                            </div>
                        </div>
                    </div> -->
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="update-box">
            <input value="Update Cart" type="submit" />
          </div>
        </div>
      </div>
    </form>
    {% if user_products|length > 0 %}
    <div class="row my-5">
      <div class="col-lg-8 col-sm-12"></div>
      <div class="col-lg-4 col-sm-12">
        <div class="order-box">
          <h3>Order summary</h3>
          <!-- <div class="d-flex">
            <h4>Sub Total</h4>
            <div class="ml-auto font-weight-bold">$ 130</div>
          </div> -->
          <!-- <div class="d-flex">
            <h4>Discount</h4>
            <div class="ml-auto font-weight-bold">$ 40</div>
          </div>
          <hr class="my-1" />
          <div class="d-flex">
            <h4>Coupon Discount</h4>
            <div class="ml-auto font-weight-bold">$ 10</div>
          </div>
          <div class="d-flex">
            <h4>Tax</h4>
            <div class="ml-auto font-weight-bold">$ 2</div>
          </div>
          <div class="d-flex">
            <h4>Shipping Cost</h4>
            <div class="ml-auto font-weight-bold">Free</div>
          </div> -->
          <hr />
          <div class="d-flex gr-total">
            <h5>Grand Total</h5>
            <div class="ml-auto h5">
              Rs.<span class="dayya__cart__total"></span>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="col-12 d-flex shopping-box">
        <a href="{% url 'shop:checkout' %}" class="ml-auto btn hvr-hover"
          >Checkout</a
        >
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- End Cart -->
{% endblock %} {% block scripts %}
<script>
  /********************************************************
   * Handles all the Calculations   *
   *
   * 1. Calculate value for 'Total' column in each row    *
   * 2. Calculate Grand Total of Order    *
   ********************************************************/

  // getting unit price for each product
  var PRICE_ELEMENT_IN = document.querySelectorAll(".product__unit-price");

  // getting quantities for each product
  var QUANTITY_ELEMENT_IN = document.querySelectorAll('input[type="number"]');

  // getting output element
  var TOTAl_ELEMENT_OUT = document.querySelectorAll(".product__total-price");

  // getting output element
  var GRAND_TOTAl_ELEMENT_OUT = document.querySelector(".dayya__cart__total");

  var quantityArr = [];

  // converting element array to a list
  QUANTITY_ELEMENT_IN.forEach(function (input_quantity) {
    quantityArr.push(input_quantity);
  });

  quantityArr.forEach(function (input_quantity) {
    input_quantity.addEventListener("change", function () {
      var unit_price = parseFloat(
        PRICE_ELEMENT_IN[quantityArr.indexOf(input_quantity)].textContent
      );
      var qty = parseInt(input_quantity.value);
      var total_price = TOTAl_ELEMENT_OUT[quantityArr.indexOf(input_quantity)];
      total_price.textContent = (unit_price * qty).toFixed(2);
    });
  });

  /*>>>>>>>>>>>> Calculate Grand Total of Order <<<<<<<<<<<<<<<< */

  // intitalizing total
  var total = 0;

  window.addEventListener("load", function () {
    TOTAl_ELEMENT_OUT.forEach(function (value) {
      total += parseFloat(value.textContent);
    });
    GRAND_TOTAl_ELEMENT_OUT.textContent = total.toFixed(2);
  });
</script>
{% endblock %}
